:root {
    /*FONT*/
    --font-dm-sans: "DM Sans", sans-serif;

    /*COLORS*/
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0, 0, 0, 0.7);
    --bg-navegation-color: #121212;
    --bg-sidebar-color: #b3b3b3;
    --bg-black-color: #000;
    --bg-white-color: #FFF;
    --bg-cinza-color: #a7a7a7;
    --bg-preta-color: #242424;
    --bg-cinza-escuro: #878787;
}



